<!<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="assets/css/style.css">	
    </head>
    <body>
        <textarea id="input" ></textarea>
        <br>
        <button type="button" id="b1">Number to Words</button>
          <br>
          <p id="output"></p>  
    </body>
    </html>